
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--/newsletter -->
<section class="newsletter-w3pvt py-5 text-center">

        <form method="post" clas="py-md-5" action="#">
            <h3 class="title-wthree my-lg-5 my-4 text-center">Under Construction</h3>
            <p class="text-center">Our Services page is currently undergoing scheduled maintenance. We should be back shortly. Thank you for your patience.</p>

        </form>

</section>
<!--//newsletter -->
